html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  .logo{
    position: absolute;
    left: 0%;
    top: 0%;
}
.titre1{
    position: absolute;
    left: 45%;
    top: 0%;
}

  header {
    background: transparent;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    margin: 10px;
    margin-left: 100px;
    border: transparent;
    background: transparent;
  }

  #jeux{
    padding: 50px;
  }
  .menu{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
    
  }
  .menu div {
    width: 100px;
    height: 70px;
  }
  section {
    display: flex;
    
}
#jeu{
background-color:transparent;
border: white solid;
align-content: center;

}

#tab{
}

.caseBleu
{
background-color: #1C546B ;
}

.caseBleu, .invisible{
    height : 50px;
    width : 50px;
    border : 1px solid #000000 ;
    overflow: hidden;
}

.invisible {
background-color: transparent;
}




#styled2 {
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#styled2:hover {
    background-color: red;
}

#styled2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#styled:hover {
    background-color: red;
}

#styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#joueurss {
  height: 120px;
  width: 150px;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  text-decoration: aqua;
  font-style: oblique;
  
}