#case {

    background: #053E4C;
    }

.logo{
    float: center;
}
.titre1{
    position: absolute;
    left: 45%;
    top: 7%;

}


*head{
    background-color: aliceblue;
}

body{
    background-color: #3D8C98;
}

#tab{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 35%;
    top: 30%;
}

.caseBleu, .invisible{
        height : 50px;
        width : 50px;
        border : 1px solid #000000 ;
        overflow: hidden;
    }

.invisible {
    background-color: transparent;
    }

.caseBleu{
    background-color: #1C546B ;
}

#info{
    height: 600px;
    width: 500px;
    background-color:transparent;
    border: #000000 solid;
    position:absolute ;
    right: 5%;
    top: 7%;
    font: bold italic large serif;
    text-align: center;
    vertical-align:middle;
    line-height: 300px;
}

#jeu{
    height: 600px;
    width: 500px;
    background-color:transparent;
    border: #000000 solid;
    position: absolute;
    left: 29%;
    top: 7%;


}

#menu{
    height: 495px;
    width: 425px;
    background-color:transparent;
    border: #000000 solid;
    position: absolute;
    left: 0.5%;
    top: 22%;
    text-align: end;
    line-height: 925px;

}

#styled2 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#styled2:hover {
    background-color: red;
}

#styled2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#styled:hover {
    background-color: red;
}

#styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

